.container,
body {
    background: transparent;
}


.card-custom {
    background-color: #ffffff6d;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: -125px;
}

.card-custom:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

form h2 {
    font-size: 24px;
    font-weight: bold;
}

form {
    margin-bottom: 0;
}

form .form-group label {
    font-weight: bold;
}

label{
    margin-bottom: 5px;
}

input{
    background-color: rgba(255, 255, 255, 0.852);
}


form .btn {
    margin-top: 1rem;
}

.btn:hover{
    background-color: #005ec2;
    color: white;
}

.small {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.small a {
    color: #005ec2;
    text-decoration: none;
    cursor: pointer;
}

.small a:hover {
    color: #0b67ca;
    text-decoration: underline;
}